<h5>Meer over mij</h5>

<ul>
    <li>
        In mijn vrije tijd ben ik dol op koken en nieuwe dingen uitproberen.
    </li>
    <li>
        Ik ben veel aan het spelen met home automation.
    </li>
    <li>
        En ik ben dol op het luisteren naar en spelen van muziek. Ik speel drums en ga graag naar concerten van artiesten!
    </li>
</ul>