<div class="background-container">
    <div class="container text-center main-content">
        <img src="/img/avatar.jpg" asp-append-version="true" class="mt-5 rounded-circle img-fluid avatar-img" />
        <h1>Bart van Dal</h1>
        <hr />
        <p>Backend .Net developer</p>
    </div>
</div>