.background-container {
    background-color: #1ABC9C;
}

.placeholder{
    height: 100px;
    width: 100px;
}

.main-content {
    color: white;
    font-family: sans-serif;
}

.avatar-img{
    height: 150px;
    width: 150px;
}