<h3>Socialmedia</h3>
<a target="_blank" href="https://www.linkedin.com/in/bart-van-dal/" class="fa fa-linkedin rounded-circle p-3"></a>
<a target="_blank" href="https://github.com/BartvanDal/Portfolio" class="fa fa-github rounded-circle p-3"></a>

@code {

}
