@inherits LayoutComponentBase

<PageTitle>Portfolio.Frontend</PageTitle>

<div class="page">
    <main>
        <TopMenu />

        <div class="m-0">
            @Body
        </div>
    </main>
</div>
