<h3>
    @Experience.Name
</h3>
<img class="img-fluid rounded hover-overlay" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/04LDEYRW59.jpg" alt="">

<hr />

@foreach (var tag in Experience.Tags)
{
    <span class="badge bg-secondary m-1">@tag</span>
}

@code {
    [Parameter]
    public ExperienceViewModel Experience { get; set; }
}