.tag-typeless {
    color: white;
    background-color: #6DB6C2;
}

.tag-language {
    color: white;
    background-color: #517799;
}

.tag-framework {
    color: white;
    background-color: #304AB3;
}

.tag-tool {
    color: white;
    background-color: #221769;
}
