@foreach (var tag in Tags)
{
    <span class="badge text-white m-1 @GetColor(tag)">@tag.Name</span>
}

@code {
    [Parameter]
    public ICollection<TagViewModel> Tags { get; set; } = new List<TagViewModel>();


    public string GetColor(TagViewModel tag){
        if (tag.Type == "Language")
            return "tag-language";
        if (tag.Type == "Framework")
            return "tag-framework";
        if (tag.Type == "Tool")
            return "tag-tool";

    return "tag-typeless";
    }

}